:root {
    --header-background: #222;
    --secondary-text-color: white;

    --accent-color-1: #B2D235;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat;
    font-size: 14px;
}

.site-header {
    align-items: center;
    background-color: var(--header-background);
    display: flex;
    position: relative;
}

.burger {
    display: none;
}

.header-logo {
    height: 60px;
    margin: 10px 32px 10px 32px;
    width: 120px;
}

.header-section {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-navigation {
    align-items: center;
    color: var(--secondary-text-color);
    display: flex;
    gap: 25px;
}

.header-buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 60px;
}

.header-button-1 {
    align-items: center;
    color: var(--secondary-text-color);
    display: flex;
    justify-content: center;
    margin: 20px;
}

.header-button-2 {
    align-items: center;
    background-color: var(--accent-color-1);
    border-radius: 20px;
    color: var(--secondary-text-color);
    display: flex;
    height: 40px;
    justify-content: center;
    width: 117px;
}

@media (max-width: 768px) {
    .header-section {
        display: none;
    }

    .site-header {
        justify-content: center;
        position: relative;
    }

    .burger {
        display: block;
        left: 20px;
        position: absolute;
    }
}