:root{
    --header-background: #222;
    --secondary-text-color: white;
    --accent-color-1: #B2D235;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: Montserrat;
}
.site-header{
    background-color: var(--header-background);
    display: flex;
    align-items: center;
}
.header-logo{
    margin: 5px 30px 5px 30px;
    width: 120px;
    height: 60px;
}
.header-section{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.header-navigation{
    color: var(--secondary-text-color);
    gap: 2rem;
    display: flex;
    align-items: center;
}
.header-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}
.header-button-1{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-text-color);
}
.header-button-2{
    width: 117px;
    height: 40px;
    background-color: var(--accent-color-1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
@media (max-width: 768px) {
    .header-section{
        display: none;
    }
    .site-header{
        align-content: center;
    }

}
